@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import "./assets/_variables.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
  font-family: var(--fallback-font);
}

body {
  font-family: var(--main-font);
}
